<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KinectWPFGUI.KinectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="KinectWPFGUI.Kinect" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <applicationSettings>
    <KinectWPFGUI.KinectSettings>
      <setting name="ColorMemoryMappedFileName" serializeAs="String">
        <value>kinectColorData</value>
      </setting>
      <setting name="DepthMutexName" serializeAs="String">
        <value>kinectDepthMutex</value>
      </setting>
      <setting name="Testing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DepthMemoryMappedFileName" serializeAs="String">
        <value>kinectDepthData</value>
      </setting>
      <setting name="ColorMutexName" serializeAs="String">
        <value>kinectColorMutex</value>
      </setting>
    </KinectWPFGUI.KinectSettings>
    <KinectWPFGUI.Kinect>
      <setting name="MemoryMappedFileName" serializeAs="String">
        <value>kinectData</value>
      </setting>
      <setting name="MutexName" serializeAs="String">
        <value>kinectMutex</value>
      </setting>
      <setting name="Testing" serializeAs="String">
        <value>True</value>
      </setting>
    </KinectWPFGUI.Kinect>
  </applicationSettings>
</configuration>
